<!DOCTYPE html>
<html>
<style>
body {
  background-image: url("https://thumbs.gfycat.com/BasicWeightyFeline-small.gif");
}
</style>
<body>

  <header>
  <p class="aligncenter">
  <img src="images/au-all-small.png"></header>

  <style>
  .aligncenter {
      text-align: center;
  }
  </style>




  <div class="col-md-8 col-md-offset-2">

    <center><h1 style="color:white;">Welcome to Custom Among Us!</h1></center>
    <br>
    <h3  style="color:white;">Please either create an account or login to your existing account! <br> <br>Once you login,  you can create your own custom among us character complete with special ability, backstory, and even attributes!</h3>
    </p><br>



  </div>
</div>
</body>
</html>